<div class="category-section" data-id="{{_id}}">
  <h2 class="category-section__type">{{title}}</h2>
  <div class="category-section__imgContent">
    <div class="category-section__imgWrapp">
      <img class="category-section__img" src="{{images}}" alt="Category picture">
    </div>
    <div class="categorys-section__descripWrapp">
      <p class="category-section__description">{{description}}</p>
    </div>
  </div>
  <footer class="categorys-section__footer">
    <div class="category-section__price"> Price <span>{{price}} $</span></div>
    <svg class="category-section__favorite" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 172 172"
      style=" fill:#000000;">
      <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
        stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
        <path d="M0,172v-172h172v172z" fill="none"></path>
        <g>
          <path class="svg__colorchange"
            d="M2.65391,86c0,-46.02344 37.32266,-83.34609 83.34609,-83.34609c46.02344,0 83.34609,37.32266 83.34609,83.34609c0,46.02344 -37.32266,83.34609 -83.34609,83.34609c-46.02344,0 -83.34609,-37.32266 -83.34609,-83.34609z"
            fill="#4d94ff"></path>
          <path
            d="M86,32.88828l16.39375,33.19063l36.61719,5.34141l-26.50547,25.83359l6.24844,36.48281l-32.75391,-17.23359l-32.7875,17.23359l6.28203,-36.48281l-26.50547,-25.83359l36.61719,-5.34141z"
            fill="#ffffff"></path>
        </g>
      </g>
    </svg>
  </footer>
</div>
