  <div class="category-section" data-id="{{_id}}">
      <h2>{{category}}</h2>
      <div class="category-section__imgContent">  
    <div class="category-section__imgWrapp">
      <img class="category-section__img" src="{{images}}" alt="Category picture">
    </div>
    <div class="categorys-section__descripWrapp">
      <p class="category-section__description">{{description}}</p>
    </div>
    </div>
    <div class="category-section__price"> Price <span>{{price}} $</span></div>
  </div>