 <div class="category-modal" data-id="{{id}}">

   <a class="close-button"><img class="close-button__icon" src="https://icon-library.net/images/close-icon-png/close-icon-png-19.jpg" alt="close"></a>
      <h2 class="category-modal__title">{{type}}</h2>

    <div class="category-modal__imgContent">  
    <div class="category-modal__imgWrapp">
      <img class="category-modal__img" src="{{img}}" alt="Category picture">
    </div>
    <div class="category-modal__descripWrapp">
      <p class="category-modal__description"> <span>Ad created:</span> {{createdAt}}</p>
      <p class="category-modal__description"> <span>Ad updated:</span> {{updatedAt}}</p>
      <p class="category-modal__description"> <span>Phone:</span> {{phone}}</p>
      <p class="category-modal__description"> <span>Description:</span> {{description}}</p>
    </div>
    </div>
    <div class="category-modal__price"> Price <span>{{price}} $</span></div>
  </div>