<div class="your-cards">
<ul class="all-favorites">
    <li class="image"><img src="{{images}}" alt=""></li>
    <li class="title">Название товара: {{title}} </li>
    <li class="price">Price: {{price}}</li>
    <li class="phone">Phone number: {{phone}}</li>
    <li class="description">Описание товара: {{description}}</li>
</ul>
</div>